[Unit]
Description=Restic backup to Hetzner storage box via SSH
Wants=network-online.target
After=network-online.target nss-lookup.target
OnFailure=restic-unlock.service

[Service]
Type=oneshot
ExecStart=-/usr/bin/restic -r sftp:restic-host:restic -p %E/systemd/user/restic.password backup %h --exclude-file=%E/systemd/user/restic.exclude
ExecStart=/usr/bin/restic -r sftp:restic-host:restic -p %E/systemd/user/restic.password forget --prune --keep-within-hourly {{ restic_keep_within_hourly }} --keep-within-daily {{ restic_keep_within_daily }}  --keep-within-weekly {{ restic_keep_within_weekly }} --keep-monthly {{ restic_keep_monthly }}
ExecStart=/usr/bin/restic -r sftp:restic-host:restic -p %E/systemd/user/restic.password check
